{% extends "wiki/base.html" %} <!--Allows this page to access base template.-->

{% block content %}
<div class="container">
    <!--Customisation for the login page.-->
    <form method="post" action="{% url 'wiki:login' %}">
        {% csrf_token %}
        <div class="card" style="margin-top:50px;">
            <h1>Log in</h1>
            <p class="lead">Log into your account here</p>
            <hr>
            <table>
                <tr>
                    <!--Allows user to log in-->
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
        </div>
        <div style="margin-top:10px;">
            {% if form.errors %}
            <div class="alert alert-warning">Your username or password is incorrect</div>
            {% endif %}
        </div>
        <a href="{% url 'wiki:index' %}" class="btn btn-dark">Index</a>
        <input class="btn btn-success" type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}