{% extends 'wiki/base.html' %}
{% load staticfiles %}
{% block pageheader %}Editing {{ page_name }}{% endblock %}
{% block content %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script>tinymce.init({forced_root_block : "", selector:'#id_content', plugins: 'autolink',remove_trailing_brs: false });</script> 
<div class="container">
    {% block contentTitle %}Edit {{page_name}}{% endblock %}
    <header><h3>{{page_name}}</h3></header>
    
    <a href="{% url 'wiki:index' %}"><button class="btn btn-dark">Index</button></a>
    <form method="post" action="{% url 'wiki:save_page' page_name %}">
    {% csrf_token %}
<textarea id="id_content" name="content" rows="10" cols="40">{{content}}</textarea>
        <input type="submit" name="Save" value="Save" class="btn btn-dark">
        <input type='submit' name="Cancel" value="Cancel" class="btn btn-danger">
    </form>
</div>
{% endblock %}
