{% extends "wiki/base.html" %}
{% load static %}

{% block content %}
    
{% block title %}


{% endblock %}
<div class="container">


<!--Page customisation-->
{% if pages %}
    <ul class="list-group" style="margin-top:10px;">
    {% for page in pages %}
    <li class="list-group-item list-group-item-action"><a href="{% url 'wiki:detail' page.title %}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
<p>No pages are available at this time.</p>
{% endif %}
</div>
<p class="=text-center" style="font-size:13px">You are currently viewing this page using {{request.META.HTTP_USER_AGENT}}</p>

<p id="SR" class="text-center" style="font-size: 12px"></p>
<!--Script takes users information (screen resolutin) and displays it to them at the bottom of the index screen-->
<script>
    function myFunction() {
      var x = "Your Screen resolution is currently:\n" + "Total Width: " + screen.width + "px, " + "Total Height: " + screen.height + "px "; 
      document.getElementById("SR").innerHTML = x;
    }
    </script>
{% endblock content %}